# Rust
**/target/
**/*.rs.bk
**/Cargo.lock

# Debugging
*.pdb

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.exe
*.dll
*.so
*.dylib

# Test coverage
tarpaulin-report.html
cobertura.xml

# Logs
*.log

# Environment variables
.env
.env.local

# mes .md 
COURS_RUST_BASES.md